In [1]:
# Initialize pymysql
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Transformation
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn

# API
import json
import pprint
pp = pprint.PrettyPrinter(indent=4)
import requests
from config import api_key
from pandas.io.json import json_normalize

# Handling date/time
import datetime
now = datetime.datetime.now()

# SQL
from sqlalchemy import create_engine

%matplotlib inline

## API Call

In [3]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
city_name = "Atlanta"

# Build query URL
query_url = url + "appid=" + api_key + "&q=" + city_name

# Get weather data
weather_response = requests.get(query_url)
weather_json = weather_response.json()

# Get the temperature from the response
print(f"The weather API responded with: ")
pp.pprint(weather_json)

The weather API responded with:
{   'base': 'stations',
    'clouds': {'all': 1},
    'cod': 200,
    'coord': {'lat': 33.75, 'lon': -84.39},
    'dt': 1556336992,
    'id': 4180439,
    'main': {   'humidity': 50,
                'pressure': 1016,
                'temp': 287.17,
                'temp_max': 289.82,
                'temp_min': 284.82},
    'name': 'Atlanta',
    'sys': {   'country': 'US',
               'id': 3035,
               'message': 0.0069,
               'sunrise': 1556276048,
               'sunset': 1556324179,
               'type': 1},
    'visibility': 16093,
    'weather': [   {   'description': 'clear sky',
                       'icon': '01n',
                       'id': 800,
                       'main': 'Clear'}],
    'wind': {'deg': 300, 'speed': 2.1}}

## Transform

In [4]:
weather_df = pd.DataFrame.from_dict(json_normalize([weather_json]), orient='columns')
weather_df["api_date"] = now
weather_df = weather_df.rename(columns= {
    'clouds.all' : 'cloud',
    'coord.lat' : 'lat',
    'coord.lon' : 'lon',
    'id' : 'weatherid',
    'main.humidity' : 'humidity',
    'main.pressure' : 'pressure',
    'main.temp' : 'temp',
    'main.temp_max' : 'temp_max',
    'main.temp_min' : 'temp_min',
    'name' : 'cityname',
    'sys.country' : 'country',
    'sys.id' : 'sysid',
    'sys.message' : 'sysmessage',
    'sys.sunrise' : 'sunrise',
    'sys.sunset' : 'sunset',
    'sys.type' : 'systype',
    'wind.deg' : 'wind_degree',
    'wind.speed' : 'wind_speed'
})
weather_df = weather_df.drop(columns= ['weather'])
weather_df

,base,cloud,cod,lat,lon,dt,weatherid,humidity,pressure,temp,...,country,sysid,sysmessage,sunrise,sunset,systype,visibility,wind_degree,wind_speed,api_date
0,stations,1,200,33.75,-84.39,1556336992,4180439,50,1016,287.17,...,US,3035,0.0069,1556276048,1556324179,1,16093,300,2.1,2019-04-27 00:03:08.359065

In [5]:
weather_list = weather_df.columns.tolist()
weather_df = weather_df.applymap(str)
weather_df.dtypes
weather_list

['base',
 'cloud',
 'cod',
 'lat',
 'lon',
 'dt',
 'weatherid',
 'humidity',
 'pressure',
 'temp',
 'temp_max',
 'temp_min',
 'cityname',
 'country',
 'sysid',
 'sysmessage',
 'sunrise',
 'sunset',
 'systype',
 'visibility',
 'wind_degree',
 'wind_speed',
 'api_date']

## LOAD

In [6]:
connection_string = "root:toor2@localhost/atlweather_db"
engine = create_engine(f'mysql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

['atlweather_table']

In [8]:
# Append current table to existing table
weather_df.to_sql(name='atlweather_table', con=engine, if_exists='append', index=False)

In [9]:
running_weather_df = pd.DataFrame(engine.execute("SELECT * FROM atlweather_table").fetchall())
running_weather_df = running_weather_df.rename(columns= {
    0 : 'base',
    1 :  'cloud',
    2 :  'cod',
    3 :  'lat',
    4 :  'lon',
    5 :  'dt',
    6 :  'weatherid',
    7 :  'humidity',
    8 :  'pressure',
    9 :  'temp',
    10 :  'temp_max',
    11 :  'temp_min',
    12 :  'cityname',
    13 :  'country',
    14 :  'sysid',
    15 :  'sysmessage',
    16 :  'sunrise',
    17 :  'sunset',
    18 :  'systype',
    19 :  'visibility',
    20 :  'wind_degree',
    21 :  'wind_speed',
    22 :  'api_date'
})
running_weather_df

,base,cloud,cod,lat,lon,dt,weatherid,humidity,pressure,temp,...,country,sysid,sysmessage,sunrise,sunset,systype,visibility,wind_degree,wind_speed,api_date
0,stations,1,200,33.75,-84.39,1556336992,4180439,50,1016,287.17,...,US,3035,0.0069,1556276048,1556324179,1,16093,300,2.1,2019-04-26 23:57:33.801083
1,stations,1,200,33.75,-84.39,1556336992,4180439,50,1016,287.17,...,US,3035,0.0069,1556276048,1556324179,1,16093,300,2.1,2019-04-27 00:02:43.836096
2,stations,1,200,33.75,-84.39,1556336992,4180439,50,1016,287.17,...,US,3035,0.0069,1556276048,1556324179,1,16093,300,2.1,2019-04-27 00:03:08.359065

In [10]:
running_weather_df.to_csv('./atlweather.csv')