## Physician Compare

In [1]:
# Imports

# Transformation
import pandas as pd
import numpy as np

#Visualization
import matplotlib.pyplot as plt
import seaborn


%matplotlib inline

In [2]:
file_df = pd.read_csv("./Data Sources/Physician_Compare_National_Downloadable_File.csv")
file_df.head()

C:\Users\EKR\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14,15,25,27,29,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,NPI,PAC ID,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Credential,Medical school name,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
0,1003914813,9032262779,I20090729000069,PATTON,GEORGE,E,JR.,M,NaN,UNIVERSITY OF MISSISSIPPI SCHOOL OF MEDICINE,...,250102,MISSISSIPPI BAPTIST MEDICAL CENTER,250079,SHARKEY ISSAQUENA COMMUNITY HOSPITAL,NaN,NaN,Y,Y,Y,NaN
1,1003914813,9032262779,I20090729000069,PATTON,GEORGE,E,JR.,M,NaN,UNIVERSITY OF MISSISSIPPI SCHOOL OF MEDICINE,...,250102,MISSISSIPPI BAPTIST MEDICAL CENTER,250079,SHARKEY ISSAQUENA COMMUNITY HOSPITAL,NaN,NaN,Y,Y,Y,NaN
2,1003914821,7810945318,I20051205000035,BAKKE,DAVID,B,NaN,M,DC,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN
3,1003914821,7810945318,I20051205000035,BAKKE,DAVID,B,NaN,M,DC,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN
4,1003914854,4688628449,I20050304000513,DEWITT,DAWN,D,NaN,F,MD,NORTHWESTERN UNIVERSITY MEDICAL SCHOOL,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,Y,NaN

In [3]:
column_names = list(file_df)
column_names

['NPI',
 'PAC ID',
 'Professional Enrollment ID',
 'Last Name',
 'First Name',
 'Middle Name',
 'Suffix',
 'Gender',
 'Credential',
 'Medical school name',
 'Graduation year',
 'Primary specialty',
 'Secondary specialty 1',
 'Secondary specialty 2',
 'Secondary specialty 3',
 'Secondary specialty 4',
 'All secondary specialties',
 'Organization legal name',
 'Group Practice PAC ID',
 'Number of Group Practice members',
 'Line 1 Street Address',
 'Line 2 Street Address',
 'Marker of address line 2 suppression',
 'City',
 'State',
 'Zip Code',
 'Phone Number',
 'Hospital affiliation CCN 1',
 'Hospital affiliation LBN 1',
 'Hospital affiliation CCN 2',
 'Hospital affiliation LBN 2',
 'Hospital affiliation CCN 3',
 'Hospital affiliation LBN 3',
 'Hospital affiliation CCN 4',
 'Hospital affiliation LBN 4',
 'Hospital affiliation CCN 5',
 'Hospital affiliation LBN 5',
 'Professional accepts Medicare Assignment',
 'Reported Quality Measures',
 'Used electronic health records',
 'Committed to heart health through the Million Hearts® initiative.']

In [4]:
rptqm = file_df["Reported Quality Measures"].unique()
rptqm

array(['Y', nan], dtype=object)

In [5]:
physbystate_df = file_df[["State", "NPI", "Reported Quality Measures"]]
physbystate_df = physbystate_df.groupby("State").count()
physbystate_df["% Reported QM"] = (physbystate_df["Reported Quality Measures"] / physbystate_df["NPI"] * 100).round()
physbystate_df.head()

          NPI  Reported Quality Measures  % Reported QM
State
AK       4420                       2388           54.0
AL      21683                      13177           61.0
AR      13145                       8563           65.0
AZ      37680                      24568           65.0
CA     167788                      88558           53.0

In [11]:
physbyschool_df = file_df[["Medical school name", "NPI"]]
physbyschool_df = physbyschool_df.groupby("Medical school name").count().sort_values(by=["NPI"], ascending=False)\
.rename(columns={"NPI" : "Count of Providers"})
physbyschool_df.head()

                                           Count of Providers
Medical school name
OTHER                                                 1014128
INDIANA UNIVERSITY SCHOOL OF MEDICINE                   16611
WAYNE STATE UNIVERSITY SCHOOL OF MEDICINE               16241
UNIVERSITY OF MINNESOTA MEDICAL SCHOOL                  15737
OHIO STATE UNIVERSITY COLLEGE OF MEDICINE               13301